<% provide(:title, "About") %>
<h1>About</h1>
<p>
The <em>PrepSocial</em></a> is a
social networking for <a href="https://prepsmarter.com">PrepSmarter</a> employees</p>

<p>
PrepSocial is created to boost your knowledge retention. So you not only pass those tough exams but conquer them so that long after, when others have forgotten most of the concepts, you continue to apply them with confidence.
</p>

<p>Only way to overcome the <a class="underline" href="https://en.wikipedia.org/wiki/Forgetting_curve">human forgetting curve</a> is to practice. And, successful people know - that practicing is more important than studying.</p>

<p>Sadly, learning is often identified with studying. That's why, a premium is placed on creating and delivering innovative content - condensed study notes, virtual classrooms, fancy infographics, beautiful videos, formula sheets, secret sauces, crash courses - what have you. And, for practice? Plain vanilla question banks.</p>

<p>PrepSocial practice engine deploys the latest insights in cognitive science and adaptive learning to balance the scale so you don't miss out on a crucial part of learning - Practice.</p>
