<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
What Is a Help System?
</p>
<p>
We see many terms and types of help systems used in the context of site design: "Help," "Support," "FAQ," "Docs," "Knowledge Base," etc. All of these web pages are intended to provide assistance to users.
</p>
<p>
Help systems should be conveniently accessible in locations where users can possibly need answers to their questions, e.g., when they get started using a website, and when they could benefit from useful information.
</p>
<p>
They’re critical because they are one of the last places a website visitor will look before deciding to give up and search for another website that will fulfill their requirements. Therefore, help systems can be crucial in retaining your site visitors.
</p>
<p>
While help systems are important and oftentimes indispensable, many website designs overlook the usefulness and importance of them. The reason for this is usually a lack of awareness by the website owner of the need for help content or of the benefit of integrating it into the content of the website.
</p>
<p>
For example, in the case of an online shop, you could put purchasing instructions on the home page or somewhere where users could easily find them, instead of creating a separate help section. This would also increase findability.
</p>
