<footer class="footer">
  <small>
    <p>Abby Designs, LLC., © 2019 · <%= link_to "Help", help_path %> · <%= link_to "Privacy", privacy_path %></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path  %></li>
      <li><a href="https://prepsmarter.com/blog/">News</a></li>
    </ul>
  </nav>
</footer>
